<form class="center-block" role="form" style="max-width: 380px">
    <h1>
        <img [src]="imageContact">
        How to contact me?
    </h1>
    <div class="contact-box">
        <div class="contact-info-row">
            <img [src]="imageEmail">
            <span>bkaczorowski@blog.pl</span>
        </div>
        <div class="contact-info-row">
            <img [src]="imageLinkedIn">
            <span>linkedin.com/in/bkaczorowski</span>
        </div>
        <div class="contact-info-row">
                <img [src]="imageFacebook">
                <span>facebook.com/bkaczorowski</span>
        </div>
        <div class="contact-info-row">
            <img [src]="imageGithub">
            <span>github.com/bkaczorowski</span>
        </div>
    </div>
</form>