<form class="center-block" role="form" style="max-width: 600px">
    <h1 style="text-align: center">About</h1>
    <br>
    <p>
        Helping others with creation of an <b>amazing products</b> is my live motto
    </p>
    <p>
        I'm <b>pragmatic</b> and belive we should choose a tool for a problem, not vice versa.
    </p>
    <p>
        I'm <b>dreamer</b> beliving that everyone deserve to be happy and what we are doing 
        have positive influence on another things. We should keep moving to build a better world.
    </p>
    <p>
        In my blog I will present my point of view on many topics, from software development to team cooporation.
    </p>
</form>