<h1>Post list</h1>
<div class="table-responsive">
    <table class="table" align="center">
        <tr>
            <th>Created</th>
            <th>Title</th>
            <th>Author</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>dana1</td>
            <td>dana2</td>
            <td>dana3</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">Remove</button>
            </td>
        </tr>
        <tr>
            <td>dana1</td>
            <td>dana2</td>
            <td>dana3</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">Remove</button>
            </td>
        </tr>
    </table>
</div>
<div class="centered">
    <table align="center">
        <tr>
            <td>
                <button type="button" class="btn btn-dark">Prev</button>
            </td>
            <td>    
                <button type="button" class="btn btn-dark">Next</button>
            </td>
        </tr>
    </table>
</div>