<div class="container">
<h1 style="text-align: center">Post list</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>Created</th>
            <th>Title</th>
            <th>Author</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let post of postCollection">
                <td>{{post.posted_date | date :  "dd.MM.y"}}</td>
                <td>{{post.title}}</td>
                <td>{{post.author}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="centered">
    <table align="center">
        <tr>
            <td>
                <button type="button" class="btn btn-dark" (click)="PrevPostPageEvent($event)">Prev</button>
            </td>
            <td>    
                <button type="button" class="btn btn-dark" (click)="NextPostPageEvent($event)">Next</button>
            </td>
        </tr>
    </table>
</div>