<div id="body" class="container">
    <div class="row">
        <div class="col-md-8">
            <article>
                <h2>{{post?.title}}</h2>
                
                <div class="row">
                    <div class="group1 col-sm-6 col-md-6">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <a *ngFor="let category of post?.categories" class="nav-link" (click)="goToPostByCategoryId(category.id)"> {{category.name}} </a>
                    </div>
                    <div class="group2 col-sm-6 col-md-6" style="text-align: right">
                        <span class="glyphicon glyphicon-pencil"></span> <a>{{post?.comments.length}} Comments</a>
                        <span class="glyphicon glyphicon-time"></span> {{post?.posted_date | date :  "dd.MM.y"}}
                    </div>
                </div>
                
                <hr>
                
                <img [src]="imgSrc">
                
                <br />
                <p class="lead">{{post?.text}}</p>
                <p class="text-right" >
                    Author: {{post?.author}}
                </p>
                
                <hr>
            </article>

            <br>
            <h2>Comments</h2>
            <div>
                <h3>Add comment</h3>
                <textarea name="descritpion" [(ngModel)]="descriptionText" cols="40" rows="5" class="form-control" placeholder="Enter text"></textarea>
                <br>
                <input type="submit" value="Add comment" class="btn btn-primary center-block" (click)="addCommentEvent($event)"/>
            </div>

            <br><br>
            
            <div class="comment-list">
                <article *ngFor="let comment of commentCollection">
                    <footer>
                        <img [src]="avatarSrc" class="avatar avatar-50 photo" height="50" width="50">
                        <cite><b>{{comment.author}}</b></cite>
                            <span class="comment-date">
                                <span class="glyphicon glyphicon-time"></span> 
                                {{comment.posted_date | date :  "dd.MM.y"}}
                            </span>
                    </footer>
                    <div class="comment-content">
                        <p>{{comment.description}}</p>
                    </div>
                    <br>
                </article>
            </div>
        </div>
        <div class="col-md-4">
            <sidebar></sidebar>
        </div>
    </div>
</div>