<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="home" class="navbar-brand">Blog</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav pull-right active">
                <li *ngIf="isAuthenticated == false" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['register']">Register</a></li>
                <li *ngIf="isAuthenticated == false" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['login']">Login</a></li>
                <li *ngIf="isAuthenticated == true" (click)="logoutEvent($event)"><a class="nav-link" [routerLink]="['home']">Logout</a></li>
            </ul>
            
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div> 
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav active">
                <li [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['home']">Home</a></li>
                <li [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['contact']">Contact</a></li>
                <li [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['about']">About</a></li>
            </ul>
        </nav>
    </div>
</header>