<form class="center-block" role="form" style="max-width: 300px">
    <label for="name">Title</label>
    <input type="text" value="{{ titleText }}" class="form-control" name="title" placeholder="Enter title">
    
    <label for="name">Text</label>
    <textarea name="Text1" cols="40" rows="5" class="form-control" placeholder="Enter text">{{ textText }}</textarea>

    <!-- <input type="" value="{{ categories }}" class="form-control" name="confirmpassword" placeholder="Confirm password"> -->
       
    <input type="submit" value="Add post" class="btn btn-primary center-block" (click)="addPostEvent($event)"/>
</form>